<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Desafio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
      body {
        text-align: center;
      }
    </style>

  </head>

  <body>
    <p class="placeholder-glow">
      <span class="placeholder col-12"></span>
    </p>

    <%= yield %>

    <p class="navbar-text float-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/sign_up">Ideas</a>
      </li>
      ...
    </ul>

    <p class="placeholder-glow">
      <span class="placeholder col-12"></span>
    </p>

    <div class="p-5 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
      Sislam - Tecnologia Ambiental e Urbanística - Copyright 2023 - Todos os direitos reservados
    </div>
  </body>
</html>
