<h1 style="text-align:center">Itens</h1>

<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="card" id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>
      <% if item.purchaser_name != nil %>
      <div style="margin-right: 20px;">
        <button style="float:right" type="button" class="btn btn-outline-secondary"> <%= link_to "Mostrar o Item", item %> </button>
      </div>
      <% end %>
    </p>
  <% end %>
</div>

<div style="margin-left: 20px; margin-bottom: 40px; margin-top: 20px">
  <button type="button" class="btn btn-outline-primary"> <%= link_to "Importar Novos Itens", new_item_path %> </button>
</div>
