<h1 style="text-align:center">Itens</h1>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<div style="float:right; margin-left: 15px; margin-right: 15px">
  <%= form_with url: items_path, method: "get" do |form| %>
    <%= form.label :q, "Pesquisar Por:" %>    
    <%= form.text_field "q[purchaser_name]" %>
    <%= form.submit "Pesquisar" %>
  <% end %>
  
</div>

<div class="card" id="items">

  <br>
    <%= paginate @items %>
  <br>

  <% @items.each do |item| %>
    <%= render item %>
    <p>
      <% if item.purchaser_name != nil %>
      <div style="margin-right: 20px;">
        <button style="float:right" type="button" class="btn btn-outline-light"> <%= link_to "Mostrar o Item", item %> </button>
      </div>
      <% end %>
    </p>
  <% end %>
</div>

<br>
<%= paginate @items %>
<br>

<div>
  <button type="button" class="btn btn-outline-light"> <%= link_to "Importar Novos Itens", new_item_path %> </button>
</div>
