<h1 style="text-align:center">Itens</h1>

<hr class="hr hr-blurry" />

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<br>
<div class="d-flex justify-content-center">
    <%= paginate @items %>
</div>
<br>

<div class="card" id="items">

  <br>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container d-flex justify-content-end">
      <%= form_with url: items_path, method: "get" do |form| %> 
        <%= form.text_field "q[purchaser_name]", :placeholder => "Digite aqui..." %>
        <%= form.submit "Pesquisar", :class => "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </div>
  </nav>
  <br>

  <% @items.each do |item| %>
  <div class="container">
    <%= render item %>
    <%= link_to "Consultar Item", item, :class => "btn btn-secondary" %>
  </div>
  <% end %>

  <div style="text-align:center; margin-bottom: 15px;">
    <%= link_to "Importar Novos Itens", new_item_path, :class => "btn btn-success" %>
  </div>
</div>

<br>
<div class="d-flex justify-content-center">
  <%= paginate @items %>
</div>
<br>