<p style="color: green"><%= notice %></p>

<h3 style="margin-left: 15px"> Item ID: <%= @item.id %> </h3>

<hr class="hr hr-blurry" />

<%= render @item %>

<div class="card">
  <br>
  <div class="d-flex justify-content-start" style="margin-left: 15px;"> 
    <%= link_to "Voltar", items_path, :class => "btn btn-secondary" %>
    <div class="gap" style="margin-left: 10px;">
      <%= button_to "Deletar", @item, method: :delete, :class => "btn btn-danger" %>
      <br>
    </div>
  </div>
</div>